.project{
    margin-left: 20px;
}
img{
    width: 400px;
    border: 5px solid black; 
    height: 600px;
}
body{
    background-color:#cc9900;
}
span{
   color:white;
}
h3{
    color: bisque;
    font-family: monospace;
}
#header {
    color: darkgreen;
    text-transform:uppercase;
   
}